@font-face {
  font-family: 'iconfont';  /* Project id 4402046 */
  src: url('//at.alicdn.com/t/c/font_4402046_h7mjda3js0d.woff2?t=1711288045376') format('woff2'),
       url('//at.alicdn.com/t/c/font_4402046_h7mjda3js0d.woff?t=1711288045376') format('woff'),
       url('//at.alicdn.com/t/c/font_4402046_h7mjda3js0d.ttf?t=1711288045376') format('truetype');
}
  
  .iconfont {
    font-family: "iconfont" !important;
    font-size: .2rem;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  